<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Currency Converter</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body align=center>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4"><legend><h1>CURRENCY CONVERTER</h1></legend></div>
			<div class="col-md-4"></div>
		</div>
			<br>
			<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form class="form-horizontal" method="post">
					<div class="form-group">
            			<label class="control-label col-xs-3">Select Currency:</label>
            			<div class="col-xs-7">
                			<select class="form-control" name="currency">
                    			<option>Rupee</option>
                    			<option>USD</option>
                    			<option>Euro</option>
                    			<option>Pound</option>
								<option>Dinar</option>
								<option>Yuan</option>
                			</select>
            			</div>
            		</div>

					<div class="form-group">
						<label class="control-label col-xs-3" for="var_1">Your currency value :</label>
						<div class="col-xs-7">
							<input type="number" class="form-control" name="var_1"  value="{{ request.form['var_1'] }}" placeholder="&nbsp;0&nbsp;">
						</div>
					</div>

					<div class="form-group">
            			<label class="control-label col-xs-3">Convert to:</label>
            			<div class="col-xs-7">
                			<select class="form-control" name="convert">
                    			<option>Rupee</option>
                    			<option>USD</option>
                    			<option>Euro</option>
                    			<option>Pound</option>
								<option>Dinar</option>
								<option>Yuan</option>
                			</select>
            			</div>
            		</div>
					


					<div class="form-group">
            			<div class="col-xs-offset-3 col-xs-9">
                		    <input type="submit" class="btn btn-success" value="Submit">
                			
            			</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3">Result :</label>
						<div class="col-xs-7">
							<input type="text" name="result" class="form-control" placeholder={{ entry }}>
						</div>
					</div>
        		</form>
        	</div>
        	<div class="col-md-4"></div></div>
		</div>
	</body>
</html>